In [36]:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

Investigate The Data

In [37]:
income_data = pd.read_csv('income.csv', header = 0, delimiter = ", ")
income_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [38]:
income_data.iloc[0]

age                          39
workclass             State-gov
fnlwgt                    77516
education             Bachelors
education-num                13
marital-status    Never-married
occupation         Adm-clerical
relationship      Not-in-family
race                      White
sex                        Male
capital-gain               2174
capital-loss                  0
hours-per-week               40
native-country    United-States
income                    <=50K
Name: 0, dtype: object

In [39]:
income_data.isna().any()

age               False
workclass         False
fnlwgt            False
education         False
education-num     False
marital-status    False
occupation        False
relationship      False
race              False
sex               False
capital-gain      False
capital-loss      False
hours-per-week    False
native-country    False
income            False
dtype: bool

In [50]:
income_data.corr()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,sex-int,country-int
age,1.000000,-0.076646,0.036527,0.077674,0.057775,0.068756,-0.088832,-0.015917
fnlwgt,-0.076646,1.000000,-0.043195,0.000432,-0.010252,-0.018768,-0.026858,0.075287
education-num,0.036527,-0.043195,1.000000,0.122630,0.079923,0.148123,-0.012280,-0.101207
capital-gain,0.077674,0.000432,0.122630,1.000000,-0.031615,0.078409,-0.048480,-0.004599
capital-loss,0.057775,-0.010252,0.079923,-0.031615,1.000000,0.054256,-0.045567,-0.008784
hours-per-week,0.068756,-0.018768,0.148123,0.078409,0.054256,1.000000,-0.229309,-0.002446
sex-int,-0.088832,-0.026858,-0.012280,-0.048480,-0.045567,-0.229309,1.000000,-0.006993
country-int,-0.015917,0.075287,-0.101207,-0.004599,-0.008784,-0.002446,-0.006993,1.000000

Format The Data For Scikit-learn

In [45]:
income_data["sex-int"] = income_data["sex"].apply(lambda row: 0 if row == "Male" else 1)

income_data["country-int"] = income_data["native-country"].apply(lambda row: 0 if row == "United-States" else 1)

labels = income_data[["income"]]

data = income_data[["age", "capital-gain", "capital-loss", "hours-per-week", "sex-int", "country-int"]]

In [46]:
train_data, test_data, train_labels, test_labels = train_test_split(data, labels, random_state = 1)

Create The Random Forest

In [47]:
forest = RandomForestClassifier(random_state = 1)
forest.fit(train_data, train_labels)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [48]:
forest.score(test_data, test_labels)

0.823731728288908

In [49]:
forest.feature_importances_

array([0.32211239, 0.29058066, 0.11846813, 0.20041288, 0.05870889,
       0.00971705])